# GitHub
GITHUB_TOKEN_CRON=
GITHUB_TOKEN_SEARCH=



# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

# Redis
REDIS_URL=

# API
PORT=3000
NODE_ENV=development
API_KEY=
CORS_ORIGIN=http://localhost:5173

PROJECT_NAME="github-analytics"
NETWORK_NAME="github-analytics-network"

# OpenTelemetry (Grafana Cloud)
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=

# Grafana Cloud Loki
GRAFANA_LOKI_URL=
GRAFANA_LOKI_USERNAME=
GRAFANA_CLOUD_API_KEY=
GRAFANA_LOGS_WRITE=

# Bluesky
BLUESKY_USERNAME=
BLUESKY_PASSWORD=

# Auth
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

COOKIE_SECURE=false
FRONTEND_URL=http://localhost:5173
EMAIL_FRONTEND_URL=https://github-tendency.vercel.app

# Token encryption (64 caracteres hex)
TOKEN_ENCRYPTION_KEY=

# Email (Gmail SMTP)
GOOGLE_HOST=
GOOGLE_PORT=
GOOGLE_LONNSOM=
GOOGLE_PS=
GOOGLE_PS2=
EMAIL_FROM=
